:root {
    --dark: #0A0A23;
    --light: #FFFFFF;
    --purple: #5A01A7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: var(--dark); 
   color: var(--light);
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
  
  
}

html, 
body {
    height: 100%;
}
.game-data {
    display: flex;
    flex-direction: column;
    width: 850px;
    align-items: center;
    gap: 80px;
    padding: 10px;
}

h1 {
    font-size: 2.3rem;
    font-family: "Anton", sans-serif;
}

p, 
label  {
    font-size: 1.5rem;
   
}

label:nth-of-type(1) {
    margin-left: 32px;
}



input[type="text"] {
    
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--light);
    outline: none;
    border-bottom-width: 2px;
    margin-left: 15px;
    position: relative;
    bottom: 2px;
    color: var(--light);
    font-size: 1.2rem;
 
}

#player-one {
    margin-right: 50px;
 
}

.new-game,
.play-again {
    display: block;
    margin: 30px auto;
    width: 150px;
    height: 30px;
    font-size: 1.1rem;
    background-color: var(--purple);
    border-color: var(--purple);
    color: var(--light);
    cursor: pointer;
    padding-bottom: 1px;
    border-radius: 10px;
}

.new-game {
   position: relative;
   top: 40px;
}

.footer {
    width: 400px;
    font-size: 1.8rem;
    display: flex;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    position: relative;
    top: 33%;
    text-align: center;
    padding-left: 21px;
}

.fa-github {
    transition: transform .5s ease-in-out;
    font-size: 2.8rem; 
    margin-left: 12px; 
    margin-top: 19px;
    color: white;
    position: relative;
    bottom: 28px;
    left: 1px;
    
}

.fa-github:hover {
    transform: rotate(360deg);
}

/*.hidden {
    display: none;
} */

.game-window {
    display: flex;
    flex-direction: column;
   align-items: center;
  
   
}

.player-info {
    display: flex;
    justify-content: center;
    gap: 800px;
    padding-top: 15px;
}

.first-player > p,
.second-player > p {
    font-size: 2.5rem;
}
.player-one-marker,
.player-two-marker {
    text-align: center;
    margin-top: 10px;
}


.game-board {
    width: 450px;
    height: 450px;
    border: 2px solid var(--light);
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    font-size: 3.5rem;
   
}

.field {
    border: 2px solid var(--light);
   display: flex;
   justify-content: center;
   align-items: center;
   
  
   
}

.game-messages {
    margin-top: 40px;
    margin-left: 75px;
}

.game-messages > p {
    font-size: 2rem;
}

.turns {
    margin-top: 25px;
}

.reset {
    margin-top: 30px;
}

.play-again {
    margin-bottom: 50px;
}

.hidden {
    display: none;
}

.footer.two {
 /* margin-top: 20px; */
 margin-top: 60px;
}


